
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');





nav {
  
    display: flex;
    justify-content: center;

    background: rgb(38 73 100);
    color: white;
    height: 3pc;

}

.crumbs ol {
    list-style-type: none;
    margin: 0;
    margin-top: 1%;
    
}
h1{
    font-family: 'Roboto Slab', serif;
    font-size: 100px;
    color: white;
    margin: 0;
    padding-top: 15pc;
    color:white;

}
.crumb {
    display: inline-block;
    margin-left: 20pc;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
}


a{
    text-decoration: none;
    color: white;
}
.voirpanier{
    width: 52px;
        height: 52px;
        position: fixed;
        bottom: 0;
        right: 0;
        margin-right: 10px;
}

@media only screen and (max-device-width: 1366px) {
    nav {
      background-attachment: scroll;
    }
}

.containerAchat{
    margin-left: 16%;
    margin-right: 10%;
}
.article{
    float: left;
    width: 45vh;
    margin-right: 18%;

}

.typing{
color: #7535dc;
}